{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10",
        "esmodules": true
      },
      "modules": false,
      "bugfixes": true
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    ["@babel/preset-typescript", {
      "isTSX": true,
      "allExtensions": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-object-rest-spread"]
  ]
}
