.rcp-light {
  --rcp-background-color: #ffffff;
  --rcp-input-color: #111111;
  --rcp-border-color: rgba(0, 0, 0, 0.1);
  --rcp-input-label: #717171;
}

.rcp-dark {
  --rcp-background-color: #181818;
  --rcp-input-color: #f3f3f3;
  --rcp-border-color: rgba(255, 255, 255, 0.1);
  --rcp-input-label: #999999;
}

.rcp {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: max-content;

  background-color: var(--rcp-background-color);
  border-radius: 0 0 10px 10px;
}

.rcp-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 16px 0;
}

.rcp-saturation {
  display: flex;

  position: relative;

  user-select: none;
}

.rcp-saturation-cursor {
  position: absolute;

  width: 20px;
  height: 20px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;

  transform: translate(-10px, -10px);
}

.rcp-hue {
  position: relative;

  width: 100%;
  height: 12px;
  
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
  border-radius: 10px;

  user-select: none
}

.rcp-hue-cursor {
  position: absolute;

  width: 16px;
  height: 16px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  box-sizing: border-box;

  transform: translate(-8px, -2px);
}

.rcp-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rcp-fields-floor {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.rcp-fields-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  width: 100%;
}

.rcp-fields-element-input {
  width: 100%;
  
  font-size: 14px;
  font-weight: 600;

  color: var(--rcp-input-color);
  text-align: center;

  background: none;
  border: 2px solid;
  border-color: var(--rcp-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  
  outline: none;

  padding: 10px;
}

.rcp-fields-element-label {
  font-size: 14px;
  font-weight: 600;

  color: var(--rcp-input-label);
  text-transform: uppercase;
}
